body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
    color: #000;
}

header {
    padding: 5px 11px 5px;
    background: #0079a6;
    color: #fff;
    font-size: 90%;
}

.mid {
    margin: 20px;
    padding: 2px;
    background: #fff;
}

footer {
    padding: 5px 11px 5px;
    bottom: 0px;
    background: #0079a6;
    color: #fff;
    font-size: 90%;
}

h1 {
    color: #000;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 20px;
}

h2 {
    color: #000;
    margin-top: 4px;
    margin-bottom: 2px;
}

a {
    color: #0079a6;
}

a:hover {
    color: #b3d4fc;
    cursor: pointer;
}


